<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TraktDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TraktDesktop.Properties.Settings.brentvermolen_trakt"
            connectionString="Data Source=5.10.80.108,780;Initial Catalog=vermolens_trakt;Persist Security Info=True;User ID=vermolens_brent;Password=Mo%13mp5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TraktDesktop.Properties.Settings>
            <setting name="Db2" serializeAs="String">
                <value>Data Source=184.168.194.64;Initial Catalog=brentvermolen-trakt;Persist Security Info=True;User ID=brentvermolen;Password=R~xh0v10</value>
            </setting>
        </TraktDesktop.Properties.Settings>
    </userSettings>
</configuration>